@use 'styles/breakpoints';
@use 'styles/buttons';

.button {
  @extend %discreet-button;
  color: var(--text-dark-high-emphasis);
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--text-dark-high-emphasis);
  transform: scale3d(1,1,1);
  transition: transform 0.25s;

  // Hide indicators at breakpoints
  // TODO: nth child here works but creates unneeded complexity and confusion, change this
  &:nth-child(4) {
    @media screen and (max-width: breakpoints.$tablet) {
      display: none;
    }
  }

  &:nth-child(5) {
    @media screen and (max-width: breakpoints.$desktop) {
      display: none;
    }
  }

  &--dimmed {
    background-color: var(--text-dark-low-emphasis);
    transform: scale3d(0.66,0.66,0.66);
  }

  &--hidden {
    background-color: var(--text-dark-low-emphasis);
    transform: scale3d(0,0,0);
  }
}

.aside-cards {
  position: relative;

  &__controls {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__inner {
    display: flex;
    // gap: 1rem; // Removed in favor of margins as they work better with below hack. left in incase they finally fix overflow padding and children margins spec
    box-sizing: border-box;
    padding: {
      left: 1rem;
      right: 1rem;
      top: 1.5rem;
      bottom: 3rem;
    }
    width: 100%;
    background-color: whitesmoke;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 1rem;

    @media screen and (min-width: breakpoints.$tablet) {
      padding: 3rem;
      scroll-padding-left: 3rem;
    }

    // Hacky fix to annoying issue with overflow container end padding detailed here: https://github.com/w3c/csswg-drafts/issues/129
    // Remove end padding as it is not displayed in safari and other browsers
    padding-right: 0;
    @media screen and (min-width: breakpoints.$tablet) {
      padding-right: 0rem;
    }
    // Add margins for gutters between items, also replace padding just removed
    & > * {
      margin-right: 1rem;
      &:last-child {
        @media screen and (min-width: breakpoints.$tablet) {
          margin-right: 3rem;
        }
      }
    }
    // psuedo element to ensure last child's margin-right is taken into account in scrollable content
    &::after {
      content: "";
      flex: 0 0 0.02px;
    }
    // End of hack fix
  }
}

.card-icon {
  width: 16rem;
  height: 16rem;
}