@use 'styles/breakpoints';

.container {
  box-sizing: border-box;
  padding: 1rem;

  &--full-height {
    height: 100%;
  }

  &--color-accent {
    background-color: var(--color-accent);
  }

  @media screen and (min-width: breakpoints.$tablet) {
    padding: 3rem;
  }
}