@use 'styles/breakpoints';

.container {
  box-sizing: border-box;
  padding: 1rem;

  &--full-height {
    height: 100%;
  }

  &--color-accent {
    background-color: var(--color-accent);
  }

  @media screen and (min-width: breakpoints.$tablet) {
    padding: 3rem;
  }
}

.split-container {
  display: flex;
  flex-flow: column-reverse;

  @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
    flex-flow: row-reverse;
    min-height: calc(100vh - var(--size-header-height));
  }

  &__primary {
    @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
      width: 60%;
    }
  }

  &__secondary {
    @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
      width: 40%;
    }
  }
}

.text-container {
  max-width: 34rem;
}