@use 'styles/breakpoints';

.parallax-container {
  width: 100%;

  @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.image-frame {
  z-index: 1;
  position: relative;
  padding-top: min(56.25%, calc(50vh - var(--size-header-height)));
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
    padding-top: 0;
    width: 40%;
    height: calc(100vh - var(--size-header-height));
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
  }
}

.image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.image {
  height: 100%;
}

.text-area {
  @media screen and (min-width: breakpoints.$desktop), (orientation: landscape) {
    width: 60%;
  }
}