@use 'styles/breakpoints';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--size-header-height);
  background: var(--color-light);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);

  @media screen and (min-width: breakpoints.$tablet) {
    justify-content: left;
  }

  @media screen and (min-width: breakpoints.$desktop) {
    grid-template-columns: auto auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3rem;
  }
}

.logo {
  display: inline-block;

  &__img {
    height: 1.5rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 3rem;
  height: 3rem;
  background: none;
  cursor: pointer;

  @media screen and (min-width: breakpoints.$desktop) {
    display: none;
  }

  &__icon {
    display: block;
    line-height: 100%;
  }
}